* {
  font-family: 'Roboto';
}

.page-not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3vw 5vw;
}

.header-breadcrumb {
  height: 7vh;
  z-index: 1;
  display: flex;
  width: 100%;
  align-items: center;
}

.header-breadcrumb > .row {
  width: 100%;
}

.floors-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
}

.fi-block {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
}

.fi-block:hover {
  cursor: pointer;
  color: black !important;
  background-color: #e6e6e6;
  border-radius: 10px;
}

.fi-room {
  display: inline-block;
  font-size: 20px;
  min-width: 11vw;
  max-width: 30vw;

  margin-right: 3vw;
  
  cursor: pointer;
}

.fi-room:hover {
  color: black !important;
}