* {
  font-family: 'Roboto';
}

.page-not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3vw 5vw;
}

.fi-block {
  flex: 1;
  display: flex;
  align-items: center;
}

.fi-block:hover {
  cursor: pointer;
  color: black;
}

.fi-room {
  display: inline-block;
  font-size: 20px;
  min-width: 11vw;
  max-width: 30vw;

  margin-right: 3vw;
  padding: 0 0 1vw 0;
  
  cursor: pointer;
}

.fi-room:hover {
  color: black;
}