* {
  font-family: 'Roboto';
}

.page-not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3vw 5vw;
}

.building-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 5vw;
}

.sf-text {
  display: inline-block;
  margin: 2vh 0 5vh;
  font-size: 25px;
  color: #424242;
}

.header {
  width: 100%;
  position: relative;
  height: 10vh;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 35px;
  font-weight: 500;
}

.h-back-text {
  position: absolute;
  left: 0;
  
  display: flex;
  align-items: center;

  font-size: 20px;
  color: #e8e8e8;
  cursor: pointer;
}

.sf-block {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3vw;
}

.sf-map {
  display: flex;
  justify-content: flex-end;
}

.sf-floors-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fi-block {
  flex: 1;
  display: flex;
  align-items: center;

  color: #a8a8a8;
}

.fi-block:hover {
  cursor: pointer;
  color: black;
}

.fi-num {
  display: block;
  min-width: 5vw;
  font-size: 5vw;
}

.fi-text {
  display: inline-block;
  font-size: 20px;
}